<header id="header" class="header">
  <%= current_user.email %> : <%= link_to "logout", destroy_user_session_path, method: :delete  %>
</header>

<%= form_for @journal, url: {:action => 'create'} do |f| %>
<p>金額:<%= f.text_field :amount %></p>
<p>用途<%= f.text_field :usefulness %></p>
<p>種類:<%= select :kind, :name, [["負債","liabilities"],["資産","assets"]] %></p>
<%= f.hidden_field :user_id, value: current_user.id %>
<%= f.submit :submit %>
<% end %>
<div class="main">
  <div class="assets">
	<p>資産</p>
	<% @journals.filter{|j| j.kind == "assets" }.each do |j| %>
	<p><a href="/journal/update?id=<%=j.id%>"><%= j.usefulness %></a>[<%= j.amount %>](<%= j.created_at %>)</p>
	<% end %>
  </div>
  <div class="liabilities">
	<p>負債</p>
	<% @journals.filter{|j| j.kind == "liabilities" }.each do |j| %>
	<p><a href="/journal/update?id=<%=j.id%>"><%= j.usefulness %></a>[<%= j.amount %>](<%= j.created_at %>)</p>
	<% end %>
  </div>
</div>
<div class="answer">
  <p>合計:<%= @journals.filter{|j| j.kind == "assets" }.map(&:amount).sum - @journals.filter{|j| j.kind == "liabilities" }.map(&:amount).sum %></p>
</div>
